#loot-table {
  td {
    text-align: center;
    &:nth-child(1) {
      width: 8%;
      img {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 10%;
    }
    &:nth-child(5) {
      width: 10%;
    }
  }
}
